.outro {
 background: url(../img/outro/outro-bg.jpg) no-repeat center / cover;
 padding: 30px 0;
 @include mobile {
  background-image: url(../img/outro/outro-bg-mobile.jpg);
 }

 > .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
}

.outro-title-1 {
 color: #ffffff;
 font-size: 45px;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 2.25px;
 position: relative;
 @include mobile {
  font-size: 40px;
  line-height: normal;
  letter-spacing: 2px;
 }
 &:before {
  content: '';
  width: 136px;
  height: 11px;
  background: url(../img/common/zig-violet.svg) no-repeat center / contain;
  position: absolute;
  top: 10px;
  left: -164px;
  @include mobile {
   display: none;
  }
 }
}

.outro-subtitle {
 font-size: 25px;
 letter-spacing: 0.88px;
 margin-top: 10px;
 @include tablet {
  font-size: 22px;
  letter-spacing: 0.77px;
  margin-top: 20px;
 }
 @include mobile {
  font-size: 20px;
  letter-spacing: 0.77px;
  margin-top: 20px;
 }
}

.outro-title-2 {
 font-size: 35px;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 0.7px;
 margin-top: -5px;
 position: relative;
 @include tablet {
  font-size: 30px;
  letter-spacing: 0.6px;
  margin-top: 0;
 }
 @include mobile {
  font-size: 25px;
  line-height: normal;
  letter-spacing: 0.56px;
  margin-top: 8px;
 }
 &:before {
  content: '';
  width: 47px;
  height: 29px;
  border-radius: 15px;
  background-image: linear-gradient(-40deg, #803575 0%, #ca3964 47%, #f77a63 100%);
  position: absolute;
  bottom: 0;
  right: -65px;
  @include mobile {
   bottom: 5px;
   right: 0;
  }
 }
 &:after {
  content: '';
  width: 36px;
  height: 36px;
  background: url(../img/common/gift-icon.svg) no-repeat center / contain;
  position: absolute;
  bottom: 14px;
  right: -62px;
  @include mobile {
   bottom: 19px;
   right: 3px;
  }
 }
}

.outro-timer {
 padding-top: 30px;
 margin-top: 20px;
 position: relative;
 @include mobile {
  padding-top: 20px;
  margin-top: 22px;
 }
 &:before {
  content: '';
  width: 40px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  @include mobile {
   width: 35px;
  }
 }
}

.outro-btn {
 margin-top: 30px;
 @include mobile {
  margin-top: 40px;
 }
}