footer.main-footer
  .main-wrapper
    .main-footer__left
      .main-footer__logo.logo
        .logo-icon
        .logo-name
      p.main-footer__copy © 2016-2018 DOMIKYC.<br class="br-md-sm"> Все права защищены
    .main-footer__center
      ul.main-footer-list
        li.main-footer-list__item
          a(href="#catalog").main-footer-list__item-link.link-smooth каталог
        li.main-footer-list__item
          a(href="#about").main-footer-list__item-link.link-smooth о нас
        li.main-footer-list__item
          a(href="#reviews").main-footer-list__item-link.link-smooth отзывы
        li.main-footer-list__item
          a(href="#work").main-footer-list__item-link.link-smooth как мы работаем
    .main-footer__right
      a(href="#").main-footer__link-1 +38(095) 99 99 999
      a(href="#").main-footer__link-1 +38(095) 99 99 999
      a(href="#").main-footer__link-2 Политика конфедициальности


include scripts.jade
