#popup-order {

 .popup-scrollarea {
  display: block;
 }
}

.popup-order {
 margin: 60px auto 40px;

 .popup-order__title {
  font-size: 29px;
  line-height: 33px;
  letter-spacing: 1.01px;
  text-align: center;
  padding: 0 430px;
  position: relative;
  @include tablet {
   font-size: 24px;
   line-height: 30px;
   letter-spacing: 0.8px;
   padding: 0 200px;
  }
  @include mobile {
   font-size: 20px;
   line-height: 26px;
   letter-spacing: 0.5px;
   padding: 0;
  }
  &:before, &:after {
   content: '';
   width: 380px;
   height: 1px;
   background-color: #993164;
   position: absolute;
   top: 15px;
   @include tablet {
    width: 180px;
   }
   @include mobile {
    display: none;
   }
  }
  &:before {
   left: 0;
  }
  &:after {
   right: 0;
  }
 }

 .popup-order__text {
  display: block;
  font-size: 22px;
  line-height: 35px;
  color: #696969;
  letter-spacing: 0.22px;
  text-align: center;
  @include mobile {
   font-size: 12px;
   line-height: 20px;
   letter-spacing: 0.1px;
  }

  span {
   color: #000;
  }

  &.popup-order__text--1 {
   margin-top: 20px;
  }
 }

 .popup-order__hr {

  &.popup-order__hr--1 {
   margin: 20px auto;
   @include mobile {
    margin: 15px auto;
   }
  }
  &.popup-order__hr--2 {
   margin: 32px auto 0;
   @include mobile {
    margin-top: 20px;
   }
  }
 }
}

.order-list {
 margin-top: 25px;
 @include tablet {
  padding: 0 60px;
 }
}

.order-item {
 display: flex;
 border-bottom: 1px solid #c2c2c2;
 padding-bottom: 33px;
 margin-bottom: 30px;
 @include tablet-mobile {
  flex-wrap: wrap;
 }
 @include mobile {
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  margin-bottom: 20px;
 }
 &:last-child {
  margin-bottom: 0;
 }

 .order-item__thumb {
  width: 250px;
  height: 180px;
  border-radius: 5px;
  background: no-repeat center / cover,  linear-gradient(-41deg, #000000 0%, #ffffff 100%);
  margin-right: 50px;
  @include tablet {
   width: 220px;
   height: 155px;
   margin-right: 20px;
  }
  @include mobile {
   margin: 0 0 30px;
  }
 }

 .order-item__content {
  flex: 1;
  padding-right: 50px;
  @include tablet {
   padding-right: 20px;
  }
  @include mobile {
   padding: 0;
  }
 }

 .order-item__counter-block {
  width: 160px;
  padding-top: 25px;
  margin-right: 60px;
  @include tablet-mobile {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 0;
   margin: 20px 0 0;
  }
  @include mobile {
   flex-direction: column;
  }

  .custom-number-input {
   margin-top: 20px;
   @include tablet {
    width: 200px;
    margin: 0 0 0 40px;
   }
   @include mobile {
    width: 200px;
    margin-top: 10px;
   }
  }
 }

 .order-item__result {
  width: 160px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  @include tablet-mobile {
   width: 100%;
   align-items: center;
   justify-content: space-between;
   padding-top: 0;
   margin-top: 20px;
  }
  @include tablet {
   flex-direction: row;
  }
  @include mobile {

  }

  .order-item__result-sum {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #993164;
   font-size: 22px;
   font-weight: 700;
   line-height: 30px;
   padding: 20px 0;
   @include tablet {
    align-items: flex-start;
    padding: 0 0 0 30px;
   }
   @include mobile {
    padding: 5px 0 20px;
   }
  }

  .order-item__result-delete {
   width: 100%;
   color: #979999;
   font-size: 13px;
   letter-spacing: 0.65px;
   text-align: center;
   padding: 0 0 0 25px;
   position: relative;
   @include tablet-mobile {
    width: auto;
   }
   &:before {
    content: '';
    width: 18px;
    height: 22px;
    background: url(../img/common/trash-icon.png) no-repeat center / contain;
    position: absolute;
    top: calc(50% - 11px);
    left: 0;
   }
   &:hover {
    color: #993164;
   }
  }
 }
}

.order-form {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 margin-top: 35px;
 @include mobile {
  margin-top: 20px;
 }
}

.order-formgroup {
 width: 380px;
 margin: 0 24px;
 @include tablet {
  margin: 0 0 20px;
 }
 @include mobile {
  width: 100%;
  margin: 0 0 15px;
 }
 &:last-child {
  margin-bottom: 0;
 }
}

.order-submit {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 40px;
 @include mobile {
  margin-top: 20px;
 }

 .btn-2.btn-2--clean {
  width: 270px;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding: 21px 42px 22px;
  @include mobile {
   width: auto;
   padding: 16px 40px 14px;
  }
 }
}