/* font-family: "HarmoniaSansProCyr"; */
@font-face {
 font-family: "HarmoniaSansProCyr";
 src: url("../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Regular.otf");
 src: url("../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Regular.otf") format("opentype");
 font-style: normal;
 font-weight: 400;
}
@font-face {
 font-family: "HarmoniaSansProCyr";
 src: url("../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Bold.otf");
 src: url("../fonts/HarmoniaSansProCyr/HarmoniaSansProCyr-Bold.otf") format("opentype");
 font-style: normal;
 font-weight: 700;
}