#popup-thankyou.popup-layout
  .popup-scrollarea
    .popup.popup-thankyou
      .popup__close

      h2.popup-thankyou__title Спасибо за Ваш заказ!
      h3.popup-thankyou__subtitle Наш менеджер свяжется с Вами в ближайшее время

      .hr

      button(onclick="hidePopup();").popup-thankyou__btn.btn-2.btn-2--arrow смотреть каталог
