section.about.page-section#about
  .main-wrapper
    h2.title.title--line.about__title Покупая постельное белье у нас вы получаете:

    ul.about-list
      li.about-item
        .about-item__content
          h2.about-item__title Натуральные ткани
          p.about-item__text Наше постельное белье выполнено из <b>натуральных и безопасных</b> тканей, которые приятны вашему телу и<br class="br-lg"> не вызывают аллергию
          h3.about-item__number 01
        .about-item__thumb
      li.about-item
        .about-item__thumb
        .about-item__content
          h2.about-item__title быстрая доставка
          p.about-item__text
            b Доставим за 1 день!<br>
            | Отправляем в любую точку Украины Новой почтой или курьером по Киеву
          h3.about-item__number 02
      li.about-item
        .about-item__content
          h2.about-item__title АВТОРСКИЙ ДИЗАЙН
          p.about-item__text <b>4 вариации цвета</b> каждой модели, чтобы Вы подобрали нужный,<br class="br-lg"> именно под Вашу спальню
          h3.about-item__number 03
        .about-item__thumb
      li.about-item
        .about-item__thumb
        .about-item__content
          h2.about-item__title гарантия возврата
          p.about-item__text
            b Полный возврат средств!<br>
            | Вы сможете вернуть товар в течении<br class="br-lg"> 14 дней
          h3.about-item__number 04

    a(href="#catalog").about-btn.btn-2.btn-2--arrow.link-smooth смотреть каталог