section.page-section.intro#intro
  .main-wrapper
    h1.intro__title Постельное белье
    h2.intro__subtitle с доставкой по всей Украине от производителя!

    ul.intro-list
      li.intro-list__item
        .intro-list__item-icon(style="background-image: url(img/intro/intro-list-icon-1.svg)")
        p.intro-list__item-text Более 300 моделей и оттенков
      li.intro-list__item
        .intro-list__item-icon(style="background-image: url(img/intro/intro-list-icon-2.svg)")
        p.intro-list__item-text Натуральные ткани и высокое качество
      li.intro-list__item
        .intro-list__item-icon(style="background-image: url(img/intro/intro-list-icon-3.svg)")
        p.intro-list__item-text Каждый 3-й комплект в подарок!

    .intro-timer.timer-block
      h3.timer-block__title До конца акции осталось:
      .timer
        ul.timer__time
          li 00
          li 00
          li 00
          li 00
        ul.timer__title
          li дней
          li часов
          li минут
          li секунд

    a(href="#catalog").intro-btn.btn-2.btn-2--arrow.link-smooth смотреть каталог