section.outro.page-section#outro
  .main-wrapper
    h2.outro-title-1 акция 1+1=3
    h3.outro-subtitle при заказе двух комплектов
    h2.outro-title-2 третий получите в подарок

    .outro-timer.timer-block
      h3.timer-block__title До конца акции осталось:
      .timer
        ul.timer__time
          li 00
          li 00
          li 00
          li 00
        ul.timer__title
          li дней
          li часов
          li минут
          li секунд

    a(href="#catalog").outro-btn.btn-2.btn-2--arrow.link-smooth смотреть каталог
