section.work.page-section#work
  .main-wrapper
    h2.title.title--line.work__title Как мы работаем

    ul.work-list
      li.work-item
        .work-item__thumb(style="background-image: url(img/work/work-item-1.jpg)")
        .work-item__content
          h2.work-item__title Вы добавляете заказ в корзину и заполняете форму
          a(href="#catalog").work-item__btn.btn-2.btn-2--arrow.link-smooth смотреть каталог
      li.work-item
        .work-item__thumb(style="background-image: url(img/work/work-item-2.jpg)")
        .work-item__content
          h2.work-item__title Наш менеджер свяжется<br> с Вами для уточнения деталей заказа
          h3.work-item__number 02
      li.work-item
        .work-item__thumb(style="background-image: url(img/work/work-item-3.jpg)")
        .work-item__content
          h2.work-item__title Вы оплачиваете заказ<br> и мы отправляем его<br> в этот же день
          h3.work-item__number 03
