.slick-dots {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 40px;
 @include tablet {
  margin-top: 35px;
 }
 @include mobile {
  margin-top: 20px;
 }

 > li {
  width: 14px;
  height: 14px;
  margin: 0 15px;
  @include mobile {
   width: 12px;
   height: 12px;
   margin: 0 14px;
  }

  button {
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   border: 1px solid transparent;
   background-color: #ffffff;
   font-size: 0;
   padding: 0;
   outline: none;
  }

  &.slick-active {

   button {
    border-color: #993164;
   }
  }
 }
}